

body {
  margin: 0;

  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}


.greenButton {
  width: 100%;
        height: 55px;
        margin-top: 25px;

        font-size: 16px;
        color: #fff;
        font-weight: 600;

        background: #9DD558;
        
        border-radius: 18px;
        border: 0;

        cursor: pointer;
        
        transition: background 0.1s ease-in-out;

        &:hover {
          background: lighten(#9DD558, 5%);
        }

        &:active {
          background: darken(#9DD558, 5%);
        }

        &:disabled {
          background-color: #bebebe !important;
          cursor: not-allowed ;
        }
}

header {
  border-bottom: 1px solid #eaeaea;
  .header-left {
    img {
      width: 40px;
      height: 40px;
    }
    p,
    h3 {
      margin: 0;
    }
  }

  .header-right {
    gap: 30px;
  }

  img {
    cursor: pointer;
  }
}

.content {
  h1 {
    margin: 0;
  }
  

  .search-block {
    padding: 0 15px;
    position: relative;

    border: 1px solid #e4e4e4;
    border-radius: 10px;

    .clear {
      width: 20px;
      height: 20px;
      position: absolute;
      right: 10px;
      top: 9px;
    }

    input {
      width: 200px;
      padding: 13px 23px 13px 13px;

      border: 0;

      font-size: 14px;
      &::placeholder {
        color: #d1d1d1;
      }
    }
  }
}

.m-0 {
  margin: 0;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}